body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

#dodo-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#new-task-field {
  width: 100%;
  font-size: 115%;
}

#todos-list li {
  width: 100%;
  list-style-type: none;
}

#todos-list li.completed .description {
  text-decoration: line-through;
  color: #666;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
